{name, "Erlastic Search"}.
{authors, ["Tristan Sloughter <tristan.sloughter@gmail.com>"]}.
{description, "An Erlang app for communicating with Elastic Search's rest interface."}.
{homepage, "http://blog.erlware.com"}.
{rebar_compatible, true}.
{url, {git, "git://github.com/tsloughter/erlastic_search.git", {branch, "master"}}}.
{applications, []}.
